@import url("./index.scss");
.About {
  .About_page {
    @apply flex justify-center items-center text-start gap-10 flex-col;
    .About_title {
      font-size: 60px;
      font-weight: 900;
      width: 100%;
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity 0.6s, transform 0.6s;
      animation: titleColorAnimation 5s infinite linear;
      text-shadow: 0 0 3px #7000ff;
    }
    .About_body {
      @apply flex;
      flex-direction: column;
      background: rgb(80, 30, 40);
      background: linear-gradient(
        162deg,
        rgba(80, 30, 40, 0.1) 18%,
        rgba(196, 196, 196, 0.1) 52%,
        rgba(204, 25, 120, 0.1) 87%
      );
      padding: 35px;
      border-radius: 25px;
      width: 1500px;
      .About_header {
        @apply flex justify-between items-center;
        padding-bottom: 40px;

        .About_title_btn {
          @apply flex justify-center items-center gap-3;
          transition: 0.5s all;
          border-radius: 15px;
          height: 40px;
          padding: 10px;
          box-shadow: 5px 10px 20px 0px var(--black);

          &:hover {
            transform: scale(1.1);
            box-shadow: 5px 10px 20px 0px var(--pink);
          }
          &:active {
            transform: translateY(15px);
          }
        }
      }
      .About_data {
        @apply flex justify-center items-center gap-x-20;
        .About_data_left {
          .About_data_img {
            width: 1000px;
            height: 500px;
            border-radius: 25px;
            box-sizing: border-box;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: left;
              opacity: 0.9;
            }
          }
        }
        .About_data_right {
          @apply flex justify-center items-center flex-col gap-5;
          .About_data_feature {
            @apply flex justify-between items-center;
            padding: 10px 5px;
            width: 320px;
            border-bottom: 1px solid rgba(196, 196, 196, 0.5);
            font-size: 16px;
            transition: 0.5s all;
            color: #66636a;

            img {
              transition: 0.5s all;
            }

            &:hover {
              border-color: var(--pink);
              color: var(--white);
            }
            &:hover img {
              filter: brightness(0) invert(1);
            }
            &:active {
              transform: translateY(15px);
            }
          }
        }
      }
      .About_technologies {
        @apply flex justify-center items-center;
        margin-top: 80px;
        .About_technologies_left {
          width: 30%;
          .About_technologies_left_title {
            @apply flex justify-start items-center gap-2;
            .About_technologies_circle {
              height: 10px;
              width: 10px;
              background: linear-gradient(45deg, #7000ff, #f13dd4, #f83a3a);
              border-radius: 50%;
              transition: 0.5s all;
              box-shadow: 0 0 5px 2px #7000ff;
              animation: shadowChange 5s infinite linear;
            }
            .About_technologies_title_text {
              font-size: 12px;
              text-transform: uppercase;
              color: var(--grey);
            }
          }
          .About_technologies_text {
            text-align: start;
            margin: 25px 0px;
            color: var(--grey);
          }
          .About_technologies_button {
            @apply flex justify-center items-center bg-white gap-1;
            font-size: 16px;
            border-radius: 15px;
            height: 40px;
            width: 160px;
            color: var(--black);
            position: relative;
            text-decoration: none;
            z-index: 1;
            transition: 0.5s all;

            img {
              transition: 0.5s all;
            }

            &:hover img {
              filter: brightness(0) invert(1);
            }

            &:before,
            &:after {
              content: "";
              position: absolute;
              z-index: -1;
            }
            &:after {
              height: 0;
              width: 100%;
              left: 0;
              background: var(--pink);
              transition: 0.5s;
            }
            &.--shine {
              overflow: hidden;
              &:after {
                height: 100%;
                width: 0;
                left: -29%;
                top: 0;
                background: var(--pink);
                transform: skew(50deg);
                transform-origin: top left;
                transition: 0.5s;
              }
              &:hover {
                box-shadow: 0 0 5px var(--pink), 0 0 25px var(--pink);
                color: var(--white);
                &:after {
                  width: 125%;
                }
              }
            }

            &:active {
              transform: translateY(15px);
            }
          }
        }
        .About_technologies_vertical_line {
          height: 370px;
          width: 1px;
          background-color: var(--grey);
          opacity: 0.5;
        }
        .About_technologies_right {
          @apply flex items-center flex-col;
          width: 79%;

          .About_technologies_right_header {
            @apply flex justify-start items-center gap-4;
            border-bottom: 1px solid rgba(196, 196, 196, 0.5);
            width: 90%;

            .About_technologies_right_btn {
              @apply flex justify-center items-center;
              border: 1px solid rgba(196, 196, 196, 0.5);
              color: rgba(196, 196, 196, 0.5);
              padding: 10px;
              border-radius: 15px;
              margin-bottom: 20px;
              transition: 0.5s all;
              &:hover {
                color: var(--white);
                border-color: var(--white);
              }
              &:active {
                transform: translateY(15px);
              }
            }
          }
          .About_technologies_right_content {
            @apply flex justify-center items-center flex-col;
            width: 100%;
            margin-top: 20px;
            .About_technologies_right_title {
              width: 90%;
              text-align: start;
              font-size: 30px;
              font-weight: 900;
            }
            .About_technologies_right_data {
              @apply flex flex-wrap gap-5;
              margin-top: 20px;
              width: 90%;

              .About_technologies_right_data_item {
                @apply flex justify-center items-center flex-col cursor-pointer;
                border-radius: 15px;
                width: 130px;
                height: 100px;
                color: #626066;
                background-color: var(--dark_grey);
                transition: 0.5s all;

                img {
                  transition: 0.5s all;
                }
                p {
                  font-size: 14px;
                  transition: 0.5s all;
                }

                &:hover {
                  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }

                &:hover p {
                  color: var(--white);
                  transform: scale(1.1);
                }
                &:hover img {
                  transform: scale(1.1);
                  filter: brightness(0) invert(1);
                }
                &:active p,
                &:active img {
                  transform: translateY(15px);
                }
              }
            }
          }
        }
      }
    }
  }
}

.About_title.animate-slide-in {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.active {
  background-color: var(--white);
  color: var(--black) !important;
}
