@media only screen and (min-width: 320px) and (max-width: 750px) {
  .Main {
    .Main_images {
      height: 900px !important;
    }
  }
  .Layout {
    .Layout_body {
      .Layout_line {
        margin: 0px 20px !important;
      }
    }
    .Layout_underline {
      width: calc(100vw - 50px) !important;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 630px) {
  .Layout {
    .Layout_body {
      .Layout_line {
        margin: 0px 10px !important;
      }
    }
    .Layout_underline {
      width: calc(100vw - 50px) !important;
    }
  }
  .Main {
    .Main_images {
      .Main_code_image {
        width: 300px !important;
      }
      .Main_text {
        .Main_colored_title,
        .Main_title {
          width: 300px !important;
          font-size: 40px !important;
        }
        .Main_about {
          width: 300px !important;
          font-size: 14px !important;
        }
      }
    }
  }
  .About {
    .About_page {
      .About_title {
        font-size: 40px !important;
      }
      .About_body {
        width: 80vw !important;
        .About_data {
          @apply flex justify-center items-center flex-col gap-10;
          .About_data_left {
            .About_data_img {
              width: 70vw;
              height: 200px;
              img {
                width: 70vw;
                height: 200px;
              }
            }
          }
          .About_data_right {
            .About_data_feature {
              width: 65vw !important;
            }
          }
        }
        .About_technologies {
          .About_technologies_right {
            .About_technologies_right_content {
              .About_technologies_right_data {
                @apply flex justify-center items-center;
                .About_technologies_right_data_item {
                  width: 25vw !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .CasesSlider {
    .CasesSlider_title {
      font-size: 40px !important;
    }
  }
  .AllCases {
    height: 1800px !important;
    .AllCases_title {
      font-size: 40px !important;
    }
    .Main_Case {
      width: 80vw !important;
      .Main_Case_left {
        .Main_Case_left_projects {
          @apply text-center;
          h1 {
            font-size: 25px !important;
          }
          h4 {
            font-size: 10px !important;
          }
        }
        .Main_Case_left_btn {
          font-size: 12px !important;

          &.--shine {
            &:after {
              left: -38.5% !important;
            }
            &:hover {
              &:after {
                width: 135% !important;
              }
            }
          }
        }
      }
      .Main_Case_right {
        .Main_Case_right_header {
          @apply flex justify-center gap-5 flex-col;
          .Main_Case_right_header_left {
            width: 30vw !important;
          }
          .Main_Case_right_header_right {
            width: 50vw !important;
            p {
              font-size: 12px !important;
              width: 50vw !important;
            }
          }
        }
      }
    }
    .Small_Cases {
      height: 900px !important;
      width: 80vw !important;
    }
    .Small_Case_left {
      width: 80vw !important;
      margin-top: 20px !important;

      .Small_Case_left_slider {
        width: 70vw !important;
      }
    }
    .Small_Case_right {
      width: 80vw !important;
      height: 600px !important;
      .Small_Case_scroll {
        height: 580px !important;
      }
    }
  }
  .Feedback_body {
    .CompaniesFeedback {
      .CompaniesFeedback_title {
        width: 70vw !important;
        font-size: 40px !important;
      }
      .CompaniesFeedback_body {
        height: 1200px !important;
        width: 80vw !important;
        .CompaniesFeedback_card {
          height: 400px !important;
          width: 400px !important;
        }
      }
    }
    .YourFeedback {
      height: 1450px !important;
      .YourFeedback_title {
        width: 70vw !important;
        font-size: 40px !important;
      }
      .YourFeedback_body {
        .YourFeedback_body_form {
          @apply flex justify-center items-center flex-col text-start;
          height: 1050px !important;
          width: 400px !important;
          span {
            width: 360px !important;
          }
          .YourFeedback_body_form_left {
            .YourFeedback_body_title {
              font-size: 16px !important;
            }
          }
          .YourFeedback_body_form_right {
            @apply flex justify-center items-center flex-col;
            width: 480px !important;
            height: 700px !important;
          }
        }
      }
    }
  }
  .Footer {
    .Footer_body {
      width: 80vw !important;
      .Footer_body_title {
        font-size: 40px !important;
      }
      .Footer_feedback {
        justify-content: center !important;
        flex-direction: column !important;
        .Footer_input_body {
          width: 80vw !important;
          .Footer_input_section {
            gap: 10px !important;
            justify-content: center !important;
            flex-direction: column !important;
          }
          input {
            width: 80vw !important;
          }
          .Footer_data_send {
            width: 80vw !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 465px) {
  .Feedback_body {
    .CompaniesFeedback {
      .CompaniesFeedback_title {
        width: 70vw !important;
        font-size: 35px !important;
      }
      .CompaniesFeedback_body {
        height: 1300px !important;
        width: 80vw !important;
        .CompaniesFeedback_card {
          height: 400px !important;
          width: 80vw !important;
        }
      }
    }
    .YourFeedback {
      height: 1450px !important;
      .YourFeedback_title {
        width: 70vw !important;
        font-size: 40px !important;
      }
      .YourFeedback_body {
        .YourFeedback_body_form {
          @apply flex justify-center items-center flex-col text-start;
          height: 1050px !important;
          width: 80vw !important;
          span {
            width: 360px !important;
          }
          .YourFeedback_body_form_left {
            .YourFeedback_body_title {
              font-size: 16px !important;
            }
          }
          .YourFeedback_body_form_right {
            @apply flex justify-center items-center flex-col;
            width: 480px !important;
            height: 700px !important;
          }
        }
      }
    }
  }
  .Main {
    .Main_images {
      .Main_text {
        .Main_colored_title,
        .Main_title {
          font-size: 35px !important;
        }
      }
    }
  }
  .About {
    .About_page {
      .About_title {
        font-size: 35px !important;
      }
    }
  }
  .CasesSlider {
    .CasesSlider_title {
      font-size: 35px !important;
    }
  }
  .AllCases {
    .AllCases_title {
      font-size: 35px !important;
    }
  }
  .Feedback_body {
    .CompaniesFeedback {
      .CompaniesFeedback_title {
        font-size: 30px !important;
      }
    }
    .YourFeedback {
      height: 1450px !important;
      .YourFeedback_title {
        width: 70vw !important;
        font-size: 30px !important;
      }
      .YourFeedback_body {
        .YourFeedback_body_form {
          span {
            display: none !important;
          }
          .YourFeedback_body_form_left {
            .YourFeedback_body_title {
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }
  .Footer {
    .Footer_body {
      .Footer_body_title {
        font-size: 35px !important;
      }
    }
  }
  .Header {
    .Modal {
      .Header_modal {
        width: 250px !important;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 440px) {
  .AllCases {
    .Main_Case {
      @apply flex justify-center items-center text-start flex-col;
      height: 900px !important;
      width: 80vw !important;
      .Main_Case_left {
        width: 70vw !important;
        border: none !important;
        .Main_Case_left_projects {
          @apply flex justify-center items-center gap-5 cursor-pointer flex-row;
          margin: 30px 0px;
          height: 80px !important;
          h1 {
            font-size: 25px !important;
          }
          span {
            height: 50px !important;
            width: 1px !important;
          }
          h4 {
            font-size: 10px !important;
          }
        }
      }
      .Main_Case_right {
        width: 70vw !important;
        height: 500px !important;
        .Main_Case_right_header {
          @apply flex justify-center gap-5 flex-col;
          .Main_Case_right_header_left {
            width: 30vw !important;
          }
          .Main_Case_right_header_right {
            width: 50vw !important;
            p {
              font-size: 12px !important;
              width: 50vw !important;
            }
          }
        }
      }
    }
    .Small_Case_left {
      width: 80vw !important;
      margin-top: 20px !important;
      padding: 10px !important;
      height: 200px !important;
      .Small_Case_left_title {
        font-size: 30px !important;
      }
      .Small_Case_left_slider {
        width: 70vw !important;
      }
    }
    .Small_Case_right {
      width: 80vw !important;
      height: 600px !important;
      .Small_Case_scroll {
        height: 580px !important;
        width: 70vw !important;
        .Small_Case_right_item {
          .Small_Case_right_img {
            width: 70vw !important;
          }
          .Small_Case_right_text {
            width: 70vw !important;
            h1 {
              width: 70vw !important;
            }
            h2 {
              width: 70vw !important;
            }
            span {
              width: 70vw !important;
            }
          }
        }
      }
    }
  }
  .Layout {
    .Layout_body {
      .Layout_line {
        margin: 0px 5px !important;
      }
    }
    .Layout_underline {
      width: calc(100vw - 50px) !important;
    }
  }
  .Footer {
    .Footer_body {
      width: 80vw !important;
      .Footer_body_title {
        font-size: 10vw !important;
      }
      .Footer_promo {
        .Footer_promo_text {
          width: 70vw !important;
        }
      }
      .Footer_feedback {
        justify-content: center !important;
        flex-direction: column !important;
        .Footer_input_body {
          width: 80vw !important;
          .Footer_input_section {
            gap: 10px !important;
            justify-content: center !important;
            flex-direction: column !important;
          }
          input {
            width: 80vw !important;
          }
          .Footer_data_send {
            width: 80vw !important;
          }
        }
        .Footer_data_table {
          .Footer_curr_loc {
            width: 70vw !important;
          }
        }
      }
    }
  }
  .Feedback_body {
    .CompaniesFeedback {
      .CompaniesFeedback_title {
        font-size: 30px !important;
      }
      .CompaniesFeedback_body {
        .CompaniesFeedback_card {
          height: calc(100vh - 60vw) !important;
          padding: 10px !important;
        }
      }
    }
    .YourFeedback {
      .YourFeedback_body {
        .YourFeedback_body_form {
          height: 1200px !important;
          .YourFeedback_body_form_left {
            @apply flex justify-center items-center flex-col;
            .YourFeedback_body_title {
              font-size: 14px !important;
              width: 70vw !important;
            }
            .YourFeedback_body_data {
              input {
                width: 70vw !important;
              }
            }
            .YourFeedback_body_data_btn {
              width: 70vw !important;
            }
          }
          .YourFeedback_body_form_right {
            width: 70vw !important;
            height: 850px !important;
            .YourFeedback_body_form_image {
              img {
                width: 70vw !important;
              }
            }
            .YourFeedback_body_form_data {
              .YourFeedback_body_form_text {
                width: 70vw !important;
              }
              .YourFeedback_body_form_details {
                width: 70vw !important;
                .YourFeedback_body_form_details_experience {
                  @apply flex justify-center items-center flex-col;
                  .Experience_years,
                  .Experience_count {
                    @apply flex justify-center items-center flex-col;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
