@media only screen and (min-width: 320px) and (max-width: 2050px) {
  .AllCases {
    .Main_Case {
      width: 1400px !important;
      .Main_Case_right {
        .Main_Case_right_header {
          @apply flex justify-center gap-5;
          .Main_Case_right_header_right {
            p {
              width: 700px;
              font-size: 18px !important;
            }
          }
        }
      }
    }
    .Small_Case_left {
      width: 840px !important;

      .Small_Case_left_slider {
        width: 800px !important;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1840px) {
  .CompaniesFeedback {
    .CompaniesFeedback_body {
      width: 1200px !important;
      .CompaniesFeedback_card {
        height: 360px !important;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1730px) {
  .About {
    .About_page {
      .About_body {
        width: 1100px !important;
        .About_data {
          .About_data_left {
            .About_data_img {
              width: 600px;
              height: 300px;
              img {
                width: 600px;
                height: 300px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1650px) {
  .AllCases {
    .Main_Case {
      width: 1200px !important;
      .Main_Case_right {
        .Main_Case_right_header {
          @apply flex justify-center gap-5;
          .Main_Case_right_header_right {
            p {
              width: 500px;
              font-size: 17px !important;
            }
          }
        }
      }
    }
    .Small_Case_left {
      width: 640px !important;

      .Small_Case_left_slider {
        width: 600px !important;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1450px) {
  .AllCases {
    .Main_Case {
      width: 1000px !important;
      .Main_Case_left {
        padding: 10px 20px !important;
        .Main_Case_left_projects {
          h1 {
            font-size: 40px !important;
          }
          h4 {
            width: 90px !important;
            font-size: 14px !important;
          }
        }
        .Main_Case_left_btn {
          width: 80% !important;
        }
      }
      .Main_Case_right {
        .Main_Case_right_header {
          @apply flex justify-center gap-5;
          .Main_Case_right_header_right {
            p {
              width: 500px;
              font-size: 17px !important;
            }
          }
        }
      }
    }
    .Small_Case_right {
      width: 430px !important;
      .Small_Case_scroll {
        .Small_Case_right_item {
          .Small_Case_right_img {
            width: 380px !important;
          }
          .Small_Case_right_text {
            width: 360px !important;
            h1 {
              font-size: 16px !important;
            }
            h5 {
              font-size: 13px !important;
            }
          }
        }
      }
    }
    .Small_Case_left {
      width: 540px !important;

      .Small_Case_left_slider {
        width: 500px !important;
      }
    }
  }
  .CompaniesFeedback {
    .CompaniesFeedback_title {
      font-size: 60px !important;
    }
    .CompaniesFeedback_body {
      width: 1000px !important;
      height: 420px !important;
      .CompaniesFeedback_card {
        height: 420px !important;
      }
    }
  }
  .YourFeedback {
    .YourFeedback_title {
      font-size: 60px !important;
    }
    .YourFeedback_body {
      .YourFeedback_body_form {
        width: 1000px !important;
        .YourFeedback_body_form_right {
          .YourFeedback_body_form_data {
            .YourFeedback_body_form_text {
              width: 300px !important;
            }
            .YourFeedback_body_form_details {
              width: 300px !important;
            }
          }
        }
      }
    }
  }
  .About {
    .About_page {
      .About_body {
        width: 1000px !important;
        .About_data {
          .About_data_left {
            .About_data_img {
              width: 500px;
              height: 300px;
              img {
                width: 500px;
                height: 300px;
              }
            }
          }
        }
        .About_technologies {
          .About_technologies_right {
            .About_technologies_right_btn {
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1245px) {
  .About {
    .About_page {
      .About_body {
        width: 700px !important;
        .About_data {
          @apply flex justify-center items-center flex-col gap-10;
          .About_data_left {
            .About_data_img {
              width: 600px;
              height: 300px;
              img {
                width: 600px;
                height: 300px;
              }
            }
          }
          .About_data_right {
            .About_data_feature {
              width: 550px !important;
            }
          }
        }
        .About_technologies {
          @apply flex justify-center items-center flex-col gap-10;
          .About_technologies_left {
            width: 85%;
          }
          .About_technologies_right {
            @apply flex items-center flex-col;
            width: 100%;
            .About_technologies_right_header {
              width: 95%;
            }
            .About_technologies_right_content {
              .About_technologies_right_data {
                width: 95%;
                .About_technologies_right_data_item {
                  width: 100px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .AllCases {
    height: 2200px !important;
    .Main_Case {
      width: 700px !important;
      .Main_Case_left {
        .Main_Case_left_projects {
          @apply flex justify-center items-center gap-5 cursor-pointer flex-col;
          height: 160px !important;
          margin: 0px !important;
          margin-bottom: 20px !important;

          span {
            width: 50px !important;
            height: 1px !important;
            background-color: rgba(196, 196, 196, 0.5);
          }
        }
        .Main_Case_left_about {
          font-size: 14px !important;
          margin: 20px 0px !important;
        }
        .Main_Case_left_btn {
          margin: 20px 0px !important;
          width: 100% !important;
          font-size: 13px !important;

          &.--shine {
            &:after {
              left: -31.5% !important;
            }
          }
        }
      }
      .Main_Case_right {
        .Main_Case_right_header {
          @apply flex justify-center gap-5;
          .Main_Case_right_header_right {
            p {
              width: 300px;
              font-size: 14px !important;
            }
          }
          .Main_Case_right_header_left {
            width: 30% !important;
            .Main_Case_right_header_title {
              font-size: 10px !important;
            }
          }
        }
      }
    }
    .Small_Cases {
      flex-direction: column-reverse !important;
      height: 1000px !important;
      width: 700px !important;
    }
    .Small_Case_left {
      width: 700px !important;
      margin-top: 60px !important;

      .Small_Case_left_slider {
        width: 640px !important;
      }
    }
    .Small_Case_right {
      width: 700px !important;
      height: 800px !important;
      .Small_Case_scroll {
        height: 780px !important;
        .Small_Case_right_item {
          .Small_Case_right_text {
            span {
              width: 360px !important;
            }
          }
        }
      }
    }
  }
  .Feedback_body {
    .CompaniesFeedback {
      .CompaniesFeedback_body {
        @apply flex justify-center items-center flex-col text-start;
        height: 1000px !important;
        width: 700px !important;
        .CompaniesFeedback_card {
          height: 300px !important;
          width: 600px !important;
        }
      }
    }
    .YourFeedback {
      height: 1050px !important;
      .YourFeedback_title {
        width: 700px !important;
      }
      .YourFeedback_body {
        .YourFeedback_body_form {
          @apply flex justify-center items-center flex-col text-start;
          height: 850px !important;
          width: 600px !important;
          padding: 0px !important;
          span {
            width: 560px !important;
            height: 1px !important;
          }
          .YourFeedback_body_form_left {
            .YourFeedback_body_title {
              font-size: 16px !important;
            }
          }
          .YourFeedback_body_form_right {
            width: 580px !important;
            height: 400px !important;
            .YourFeedback_body_form_data {
              height: 320px !important;
            }
          }
        }
      }
    }
  }
  .Footer {
    .Footer_body {
      width: 700px !important;
      .Footer_feedback {
        display: flex !important;
        flex-direction: column !important;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 950px) {
  .Main {
    .Main_images {
      .Main_code_image {
        width: 500px !important;
      }
      .Main_lights {
        width: 50% !important;
      }
      .Main_text {
        .Main_colored_title,
        .Main_title {
          width: 500px !important;
          font-size: 60px !important;
        }
        .Main_about {
          width: 500px !important;
          font-size: 18px !important;
        }
      }
    }
  }
  .About {
    .About_page {
      .About_title {
        font-size: 50px !important;
      }
      .About_body {
        width: 500px !important;
        .About_data {
          @apply flex justify-center items-center flex-col gap-10;
          .About_data_left {
            .About_data_img {
              width: 400px;
              height: 200px;
              img {
                width: 400px;
                height: 200px;
              }
            }
          }
          .About_data_right {
            .About_data_feature {
              width: 380px !important;
            }
          }
        }
        .About_technologies {
          @apply flex justify-center items-center flex-col gap-10;
          .About_technologies_left {
            width: 85%;
            .About_technologies_text {
              font-size: 14px !important;
            }
          }
          .About_technologies_right {
            .About_technologies_right_content {
              .About_technologies_right_data {
                .About_technologies_right_data_item {
                  width: 80px !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .CasesSlider {
    .CasesSlider_title {
      font-size: 50px !important;
    }
  }
  .AllCases {
    height: 1800px !important;
    .AllCases_title {
      font-size: 50px !important;
    }
    .Main_Case {
      width: 500px !important;
      .Main_Case_left {
        padding: 5px !important;
        .Main_Case_left_projects {
          @apply text-center;
          h1 {
            font-size: 30px !important;
          }
          h4 {
            font-size: 12px !important;
          }
        }
        .Main_Case_left_btn {
          font-size: 12px !important;

          &.--shine {
            &:after {
              left: -38.5% !important;
            }
            &:hover {
              &:after {
                width: 135% !important;
              }
            }
          }
        }
      }
      .Main_Case_right {
        .Main_Case_right_header {
          @apply flex justify-center gap-5 flex-col;
        }
      }
    }
    .Small_Cases {
      height: 900px !important;
      width: 500px !important;
    }
    .Small_Case_left {
      width: 500px !important;
      margin-top: 20px !important;

      .Small_Case_left_slider {
        width: 440px !important;
      }
    }
    .Small_Case_right {
      width: 500px !important;
      height: 600px !important;
      .Small_Case_scroll {
        height: 580px !important;
      }
    }
  }
  .Feedback_body {
    .CompaniesFeedback {
      .CompaniesFeedback_title {
        width: 500px !important;
        font-size: 50px !important;
      }
      .CompaniesFeedback_body {
        height: 1200px !important;
        width: 500px !important;
        .CompaniesFeedback_card {
          height: 400px !important;
          width: 400px !important;
        }
      }
    }
    .YourFeedback {
      height: 1450px !important;
      .YourFeedback_title {
        width: 500px !important;
        font-size: 50px !important;
      }
      .YourFeedback_body {
        .YourFeedback_body_form {
          @apply flex justify-center items-center flex-col text-start;
          height: 1050px !important;
          width: 400px !important;
          span {
            width: 360px !important;
          }
          .YourFeedback_body_form_left {
            .YourFeedback_body_title {
              font-size: 16px !important;
            }
          }
          .YourFeedback_body_form_right {
            @apply flex justify-center items-center flex-col;
            width: 480px !important;
            height: 700px !important;
          }
        }
      }
    }
  }
  .Footer {
    .Footer_body {
      width: 500px !important;
      .Footer_body_title {
        font-size: 50px !important;
      }
    }
  }
}
