@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #05010d;
  --white: #ffffff;
  --grey: rgb(196, 196, 196);
  --pink: #cc1978;
  --line: #222028;
  --dark_grey: #0b0815;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  overflow-x: hidden !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Manrope", sans-serif;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  background: rgb(115, 25, 74);
  background: linear-gradient(
    45deg,
    rgba(115, 25, 74, 1) 2%,
    rgba(5, 1, 13, 1) 31%,
    rgba(64, 7, 37, 1) 70%,
    rgba(37, 1, 21, 1) 90%
  );
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shadowChange {
  0% {
    box-shadow: 0 0 15px 5px #7000ff;
  }
  25% {
    box-shadow: 0 0 15px 5px #f13dd4;
  }
  50% {
    box-shadow: 0 0 15px 5px #f83a3a;
  }
  75% {
    box-shadow: 0 0 15px 5px #f13dd4;
  }
  100% {
    box-shadow: 0 0 15px 5px #7000ff;
  }
}

@keyframes titleColorAnimation {
  0% {
    opacity: 0.9;
    text-shadow: 0 0 6px #7000ff;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 6px #f13dd4;
  }
  50% {
    opacity: 0.9;
    text-shadow: 0 0 6px #f83a3a;
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 6px #f13dd4;
  }
  100% {
    opacity: 0.9;
    text-shadow: 0 0 6px #7000ff;
  }
}

@keyframes borderGlow {
  0% {
    border-color: rgba(112, 0, 255, 0.4);
  }
  25% {
    border-color: rgba(241, 61, 212, 0.4);
  }
  50% {
    border-color: rgba(248, 58, 58, 0.4);
  }
  75% {
    border-color: rgba(241, 61, 212, 0.4);
  }
  100% {
    border-color: rgba(112, 0, 255, 0.4);
  }
}

@keyframes colorChange {
  0% {
    background-position: 0 100px;
  }
  50% {
    background-position: 1200px 0;
  }
  100% {
    background-position: 0px 100px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes boxShadowGlow {
  0% {
    box-shadow: 3px 3px 5px 5px rgba(112, 0, 255, 0.4);
  }
  25% {
    box-shadow: 3px 3px 5px 5px rgba(241, 61, 212, 0.4);
  }
  50% {
    box-shadow: 3px 3px 5px 5px rgba(248, 58, 58, 0.4);
  }
  75% {
    box-shadow: 3px 3px 5px 5px rgba(241, 61, 212, 0.4);
  }
  100% {
    box-shadow: 3px 3px 5px 5px rgba(112, 0, 255, 0.4);
  }
}
@keyframes onEnter {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0.6;
    transform: translateX(0%);
  }
}
