@import url("./index.scss");

.Layout {
  @apply flex justify-center items-center relative;
  flex-direction: column;

  .Layout_body {
    @apply flex justify-between items-center;
    height: auto;
    width: 100vw;
    .Layout_line {
      @apply flex justify-center items-center;
      flex-direction: column;
      margin: 0px 50px;
      .line {
        width: 1px;
        background-color: var(--line);
      }
      svg {
        z-index: 1400;
      }
    }
  }

  .Layout_underline {
    height: 1px;
    background-color: var(--line);
    width: calc(100vw - 100px);
    z-index: 1000;
    margin-top: -6px;
  }
}
