@import url("./index.scss");

.Main {
  @apply flex justify-center items-center;
  width: 100vw;

  .Main_images {
    @apply flex justify-center items-center;
    flex-direction: column;
    height: 1100px;
    padding-top: 120px;
    .Main_code_image {
      z-index: 1000;
    }
    .Main_lights {
      @apply absolute;
      z-index: 500;
      opacity: 0.3;
      transition: 0.5s all;
      animation: rotate 7s linear infinite;
    }
    .Main_circle {
      @apply absolute;
      z-index: 600;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      margin-top: 60px;
      background-color: #751bc3;
      box-shadow: 0px 0px 500px 250px rgba(89, 23, 147, 0.4), -100px -100px 250px 100px rgba(204, 25, 120, 0.7),
        -100px 100px 500px 250px rgba(80, 30, 40, 0.7), 50px -50px 500px 250px rgba(59, 25, 170, 0.7);
    }
    .Main_text {
      @apply relative;
      position: relative;
      z-index: 1000;
      margin-top: 50px;

      .Main_colored_title {
        text-transform: uppercase;
        font-weight: 900;
        background-clip: text;
        color: transparent;
        z-index: 1000;
        font-size: 80px;
        opacity: 0;
        transition: 0.5s all;
        background-image: -webkit-linear-gradient(left, #7000ff, #f13dd4, #7000ff);
        background-size: 1000px 200px;
        animation: onEnter 1s 1;
        animation: colorChange 2s infinite;
      }
      .Main_title {
        text-transform: uppercase;
        font-weight: 900;
        background-clip: text;
        font-size: 80px;
        transition: 0.5s all;
        font-style: italic;
      }
      .Main_about {
        font-size: 20px;
        width: 600px;
        text-align: center;
        color: var(--grey);
        opacity: 0.6;
        animation: onEnter 1s 1;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(36deg);
  }
  100% {
    transform: scale(0deg);
  }
}
@keyframes colorChange {
  0% {
    background-position: 0 1000px;
  }
  100% {
    background-position: 1000px 0;
  }
}
@keyframes onEnter {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0.6;
    transform: translateX(0%);
  }
}
